@import 'tailwindcss';

@theme {
  --font-sans: 'Roboto', sans-serif;
  --font-mono: 'Roboto Mono', sans-serif;
  --color-background: #121212; /* sfondo scuro moderno */
  --color-surface: #1e1e1e; /* pannello o schermo del calcolatore */
  --color-primary: #00bcd4; /* tasto principale / accento blu-ciano */
  --color-secondary: #ff00f5; /* per operazioni (+, −, ×, ÷) */
  --color-accent: #4caf50; /* per conferme o risultati */
  --color-error: #f44336; /* per errori */

  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e0e0e0;
  --color-neutral-300: #bdbdbd;
  --color-neutral-400: #9e9e9e;
  --color-neutral-700: #616161;
  --color-neutral-900: #212121;

  --text-heading-big: 2.5rem; /* 40px */
  --text-heading-big--line-height: 1.1;

  --text-heading-medium: 1.75rem; /* 28px */
  --text-heading-medium--line-height: 1.2;

  --text-body: 1rem; /* 16px */
  --text-body--line-height: 1.5;

  --text-display: 3rem; /* 48px - display numerico */
  --text-display--line-height: 1.1;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

body {
  @apply bg-background;
}
